<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p> A general purpose testcase wbesite meant for scaling and learning Node mongo and express</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>